body {
  margin: 0;
  font-size: large;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(37, 129, 160);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.main {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  width: 50vw;
  }

  .general {
  align-items: center;
  background-color: rgba(128, 128, 128, 0.555);
  border-radius: 1%;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  padding-bottom: 15px;
  width: 60vw;
  }
  

.work-history {
  align-items: center;
  background-color: rgba(128, 128, 128, 0.555);
  border-radius: 1%;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  padding-bottom: 15px;
  width: 60vw;
  }

.education {
    align-items: center;
    background-color: rgba(128, 128, 128, 0.555);
    border-radius: 1%;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    padding-bottom: 15px;
    width: 60vw;
    }

.wrapper {
align-items: center;
display: flex;
flex-direction: column;
top: 0;
}

.formContent {
align-items: center;
display: flex;
flex-direction: column;
}



input[type=text] {
  box-sizing: border-box;
  margin: 8px 0;
  padding: 12px 20px;
  width: 60%;
}

input[type=email] {
  box-sizing: border-box;
  margin: 8px 0;
  padding: 12px 20px;
  width: 60%;
}

input[type=date] {
  box-sizing: border-box;
  margin: 8px 0;
  padding: 12px 20px;
  width: 60%;
}


input[type=date].employment-dates  {
  box-sizing: border-box;
  margin: 4px 0;
  padding: 6px 10px;
  width: 20%;
}

textarea {
  border: 1px solid blue;
  box-sizing: border-box;
  margin: 8px 0;
  padding: 12px 20px;
  width: 60%;
}

.save-button
{
    background-color: #4c63af;
    border: none;
    color: white;
    display: inline-block;
    font-size: 16px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

.delete-button
{
    background-color: #860707;
    border: none;
    color: white;
    display: inline-block;
    font-size: 16px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

.arrow-right {
  border-bottom: 80px solid transparent;
  border-left: 80px solid rgb(77, 85, 77);
  border-top: 80px solid transparent;
  height: 0;
  width: 0;
}

.arrow-right:hover {
  border-bottom: 80px solid transparent;
  border-left: 80px solid rgb(155, 74, 9);
  border-top: 80px solid transparent;
  height: 0;
  width: 0;
}

.arrow-left {
  border-bottom: 80px solid transparent;
  border-right: 80px solid rgb(77, 85, 77);
  border-top: 80px solid transparent;
  height: 0px;
  width: 0px;
}

.arrow-left:hover {
  border-bottom: 80px solid transparent;
  border-right: 80px solid rgb(155, 74, 9);
  border-top: 80px solid transparent;
  height: 0px;
  width: 0px;
}

.cv-display{
  background-color: rgba(247, 247, 247);
  border: solid 1px black;
  border-radius: 0%;
  width: 60vw;
  height: 95vh;
}